<div class="container mt-3 mb-3">
  <h2>Edit Book</h2>
  <form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('./_form_fields.ejs') %>
    <div class="d-flex gap-3">
      <a class="btn btn-danger" href="/books">Cancel</a>
      <button class="btn btn-success" type="submit">Update</button>
    </div>
  </form>
</div>
