<div class="container mt-3">
  <h2>New Book</h2>
  <form action="/books" method="POST">
    <%- include('./_form_fields.ejs') %>
    <div class="d-flex justify-content-end gap-3">
      <a class="btn btn-danger" href="/books">Cancel</a>
      <button class="btn btn-success" type="submit">Create</button>
    </div>
  </form>
</div>
